@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --dark-color: #000;
  --default-color: #0984e3;
  --light-color: #fff;
}
/* Navbar */
.navbar {
  padding: 25px 0;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111111;
}
.navbar.active {
  padding: 15px;
  background-color: #313840;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar .navigation ul {
  position: relative;
}
.navbar i {
  display: none;
}
.navbar .navigation ul::before {
  content: "";
  position: absolute;
  top: -5px;
  height: 1px;
  width: 100%;
  background-color: var(--default-color);
  display: block;
}
.navbar .navigation ul::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background-color: var(--default-color);
  display: block;
}
.navbar .navigation ul li {
  display: inline-block;
  margin: 0 5px;
}
.navbar .container nav ul li.active a::before,
.navbar .navigation ul li a:hover::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: var(--default-color);
}
.navbar .container nav ul li.active a::after,
.navbar .navigation ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: var(--default-color);
}
.navbar .navigation ul li a {
  color: var(--light-color);
  transition: all 0.5s;
  display: inline-block;
  padding: 10px;
  position: relative;
}
.navbar .navigation ul li a:hover {
  color: var(--default-color);
}
/* Banner */
#home {
  padding: 0;
}
#home .slider {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: var(--light-color);
}
#home .slider .flex {
  flex-direction: column;
}
#home .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
#home .slider .slide h1 {
  font-size: 75px;
  font-weight: 900;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
#home .slider .slide p {
  font-size: 30px;
}
#home .slider .slide.current {
  opacity: 1;
}
#home .slider .slide:first-child {
  background: url("../media/banner/1.jpg") no-repeat center center;
  background-size: cover;
}
#home .slider .slide:nth-child(2) {
  background: url("../media/banner/2.jpg") no-repeat center center;
  background-size: cover;
}
#home .slider .slide:last-child {
  background: url("../media/banner/3.jpg") no-repeat center center;
  background-size: cover;
}
.buttons button {
  height: 120px;
  width: 150px;
  border: none;
  background-color: var(--default-color);
  color: var(--light-color);
  cursor: pointer;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  top: 45%;
  padding: 2rem 0;
  transition: all 0.7s ease-in-out;
  opacity: 0.6;
}
.buttons button:hover {
  opacity: 1;
}
button#prev {
  left: 0;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
button#next {
  right: 0;
}
/* About */
.about .grid,
.contact .grid,
.why-section .container .grid {
  grid-template-columns: repeat(2, 1fr);
}
.about .details p {
  text-align: justify;
  color: #898989;
}
.about .skills .skill {
  position: relative;
  height: 25px;
  width: 100%;
  margin-bottom: 1.5rem;
}
.about .skills .skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}
.about .skills .skill .skill-bar {
  position: absolute;
  width: 95%;
  height: 100%;
  background-color: var(--default-color);
  padding: 1px 0 10px 10px;
}
.about .skills .skill .skill-bar.hc {
  width: 85%;
}
.about .skills .skill .skill-bar.wp {
  width: 75%;
}
.about .skills .skill .skill-bar.lv {
  width: 65%;
}
.about .skills .skill .skill-bar p {
  font-size: 1rem;
  color: var(--light-color);
}
.about .skills .skill .skill-bar span {
  position: absolute;
  top: -13px;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: var(--default-color);
  color: var(--light-color);
  font-size: 1.2rem;
  padding: 13px 8px;
}
.about .skills .skill .skill-bar span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0 14px 13px;
  border-color: transparent transparent #0984e3b3 transparent;
}
.about .skills .skill .skill-bar span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12px;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent #0984e3b3 transparent transparent;
}
/* Why - section */
.why-section {
  background: url("../media/about/about-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.why-section::before,
#testimonial::before,
.recent-work::before,
.pricing .pricing-container::before,
.fun-fact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.why-section .section-head h2,
#testimonial .section-head h2,
.recent-work .section-head h2,
.fun-fact .section-head h2,
#contact .section-head h2 {
  color: var(--light-color);
}
.why-section .imgBx {
  overflow: hidden;
  position: relative;
}
.why-section .imgBx img {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.why-section .imgBx:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.why-section .imgBx .overlap {
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  width: 85%;
  height: 85%;
  border: 1px solid var(--light-color);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
.why-section .imgBx:hover .overlap {
  opacity: 1;
}
.why-section .accordion {
  height: 450px;
}
.why-section .accordion .accordion-item {
  margin-bottom: 5px;
}
.why-section .accordion .accordion-header {
  width: 100%;
  border: none;
  outline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.why-section .accordion .accordion-header.active {
  background-color: var(--default-color);
  color: var(--light-color);
  transition: all 0.5s ease-in-out;
}
.why-section .accordion .accordion-header.active .icon {
  background-color: var(--light-color);
}
.why-section .accordion .accordion-header.active .icon::before {
  display: none;
}
.why-section .accordion .accordion-header .icon {
  height: 2px;
  width: 30px;
  background-color: var(--dark-color);
  position: relative;
}
.why-section .accordion .accordion-header .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  background-color: var(--dark-color);
  transition: all 0.5s ease-in-out;
}
.why-section .accordion .accordion-body {
  background-color: var(--default-color);
  color: var(--light-color);
  padding: 0 1.5rem;
  line-height: 1.7rem;
  border-top: 1px solid var(--light-color);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.why-section .accordion .accordion-body.active {
  max-height: 100vh;
  padding: 1rem 1.5rem;
  transition: all 0.5s ease-in-out;
}
/* Service */
.service .grid,
.portfolio .grid,
.team .grid,
.fun-fact .grid,
.clients .grid,
.footer .grid {
  grid-template-columns: repeat(4, 1fr);
}
.service .box {
  position: relative;
  padding: 2rem 0rem;
  transition: all 0.5s ease-in-out;
  transform: scaleX(0.9);
}
.service .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  border-top: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
  transition: all 0.5s ease-in-out;
}
.service .box:hover {
  transform: scaleX(1);
}
.service .box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
  transition: all 0.5s ease-in-out;
}
.service .box:hover::before,
.service .box:hover::after {
  border-color: var(--default-color);
}
.service .box i {
  font-size: 5rem;
  transition: all 0.5s ease-in-out;
}
.service .box:hover i {
  color: var(--default-color);
}
/* Portfolio */
#portfolio {
  background: #f4f6fe;
  min-height: 0;
}
.portfolio .gallery-item {
  position: relative;
}
.portfolio .gallery-item .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.portfolio .gallery-item:hover .border {
  border: 0px solid transparent;
}
.portfolio .gallery-item .content {
  position: absolute;
  top: 7.5%;
  left: 7.5%;
  width: 85%;
  height: 85%;
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--default-color);
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portfolio .gallery-item:hover .content {
  transform: scale(1);
}
.portfolio .gallery-item .content p {
  color: var(--light-color);
  font-size: 1.5rem;
}
.portfolio .gallery-item .content .d-flex {
  justify-content: space-between;
  border-top: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
}
.portfolio .gallery-item .content .d-flex i {
  flex: 1;
  padding: 1.5rem 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 3rem;
}
.portfolio .gallery-item .content .d-flex > :first-child {
  border-right: 1px solid var(--light-color);
}
.portfolio .gallery-item .content .d-flex i:hover {
  background-color: var(--light-color);
  color: var(--default-color);
}
.portfolio .gallery-filter {
  background-color: var(--light-color);
  display: inline-block;
  box-shadow: 1px 1px 5px 0 #808080;
  padding: 10px 30px;
  position: relative;
  text-align: center;
}
.portfolio .gallery-filter::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 30px;
  border-color: transparent transparent #959595 transparent;
}
.portfolio .gallery-item.show {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.portfolio .gallery-item.hide {
  display: none;
}
.portfolio .gallery-filter li {
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px 0;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
}
.portfolio .gallery-filter li.on {
  border-top: 1px solid var(--default-color);
  border-bottom: 1px solid var(--default-color);
}
.portfolio .gallery-filter li:hover {
  border-top: 1px solid var(--default-color);
  border-bottom: 1px solid var(--default-color);
  color: var(--default-color);
}
.portfolio .gallery-filter li::before,
.portfolio .gallery-filter li.on::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 8px;
  width: 8px;
  background-color: var(--default-color);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.portfolio .gallery-filter li::after,
.portfolio .gallery-filter li.on::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  height: 8px;
  width: 8px;
  background-color: var(--default-color);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.portfolio .gallery-filter li:hover::before,
.portfolio .gallery-filter li:hover::after,
.portfolio .gallery-filter li.on::before,
.portfolio .gallery-filter li.on::after {
  opacity: 1;
}
/* Testimonial */
#testimonial {
  background: #ededed;
  background: url("../media/testimonials/testimonial-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.testimonial .slider {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.testimonial .slider .slider-box {
  width: 300%;
  display: flex;
  transition: all 0.5s ease-in-out;
  gap: 20px;
}
.testimonial .slider .slide-col {
  width: 100%;
}
.testimonial .slider .slide-col .imgBx {
  height: 160px;
  width: 160px;
  margin: auto;
}
.testimonial .slider .slide-col .imgBx img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial .slider .slide-col .content .titles h3 {
  font-size: 30px;
}
.testimonial .slider .slide-col .content .titles p {
  font-size: 18px;
}
.testimonial .container .indicator .btn,
.recent-work .controllers .control {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: var(--light-color);
  border: 1px solid var(--default-color);
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.testimonial .container .indicator .btn.active,
.recent-work .controllers .control.active {
  background-color: var(--default-color);
}
/* How We Work Section */
.we-work .grid {
  grid-template-columns: repeat(6, 1fr);
}
.we-work .box {
  color: #656565;
  padding: 1.5rem 0;
  position: relative;
}
.we-work .box:hover::before,
.we-work .box:hover::after,
.we-work .box:hover .s-1,
.we-work .box:hover .s-2 {
  width: 100%;
  height: 100%;
}
.we-work .box::before,
.we-work .box::after {
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 20%;
  border-top: 1px solid #656565;
}
.we-work .box::before {
  left: 0;
  border-left: 1px solid #656565;
}
.we-work .box::after {
  right: 0;
  border-right: 1px solid #656565;
}
.we-work .box .s-1,
.we-work .box .s-2 {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 20%;
  border-bottom: 1px solid #656565;
}
.we-work .box .s-1 {
  left: 0;
  border-left: 1px solid #656565;
}
.we-work .box .s-2 {
  right: 0;
  border-right: 1px solid #656565;
}
.we-work .box i {
  font-size: 4rem;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.we-work .box h3 {
  transition: all 0.5s ease-in-out;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}
.we-work .box:hover h3,
.we-work .box:hover i {
  color: var(--default-color);
}
/* Recent Work */
.recent-work {
  background: url("../media/work/work-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.recent-work p {
  font-size: 23px;
  line-height: 35px;
  width: 75%;
  margin: 0 auto;
}
.recent-work .projects {
  margin: 5rem auto 0 auto;
  background: url("../media/work/mac.png") no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 70%;
  padding: 1.9rem 6.5rem 0 6.5rem;
  z-index: 1;
}
.recent-work .projects .project {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.recent-work .projects .project-inner {
  width: 300%;
  display: flex;
  transition: all 0.5s ease-in-out;
}
.recent-work .projects .project-inner .item {
  flex: 1;
  height: 362px;
  z-index: -1;
}
.recent-work .projects .project-inner .item img {
  height: 100%;
}
/* Pricing */
#pricing {
  padding: 5.5rem 0 0 0;
}
.pricing .section-head {
  margin-bottom: 150px;
}
.pricing .pricing-container {
  background: url("../media/table-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.pricing .grid {
  grid-template-columns: repeat(3, 1fr);
}
.pricing .card {
  background-color: var(--light-color);
  transition: all 0.5s ease-in-out;
  transform: translateY(-99px);
}
.pricing .card:hover {
  box-shadow: 20px 30px 50px rgba(255, 255, 255, 0.3);
}
.pricing .card .d-bg {
  padding: 20px 0;
}
.pricing .card .d-bg h3 {
  font-size: 30px;
  font-weight: 300;
}
.pricing .card .d-bg p {
  font-size: 18px;
}
.pricing .card li {
  padding: 15px 0;
  font-size: 18px;
}
.pricing .card li:nth-child(2n) {
  background: #bdbdbd;
  color: var(--light-color);
}
.pricing .m-button {
  color: var(--default-color);
  font-weight: 900;
}
/* Quote */
.quote {
  padding: 3rem 0 2rem 0;
}
.quote .flex {
  justify-content: space-between;
}
.quote h3 {
  font-size: 40px;
}
.quote .m-button {
  border: 1px solid var(--light-color);
  color: var(--light-color);
}
.quote .m-button:hover {
  color: var(--default-color);
}
.quote .m-button::before {
  background-color: var(--light-color);
}
/* Team */
.team {
  background: #eceef5;
}
.team .card {
  box-shadow: 0px 0px 1px 0#808080;
  overflow: hidden;
  height: 468px;
  position: relative;
}
.team .card .imgBx {
  transition: all 0.5s ease-in-out;
  margin-top: -100px;
}
.team .card:hover .imgBx {
  margin-top: 0;
}
.team .card .social i {
  border: 1px solid var(--light-color);
  color: var(--light-color);
  padding: 7px;
  cursor: pointer;
  margin-top: 5px;
}
.team .card .social i.lni-facebook:hover {
  background-color: #3b5998;
}
.team .card .social i.lni-twitter:hover {
  background-color: #4099ff;
}
.team .card .social i.lni-dribbble:hover {
  background-color: #c73b6f;
}
.team .card .social i.lni-linkedin:hover {
  background-color: #0e76e8;
}
.team .card .social i.lni-github:hover {
  background-color: #333;
}
.team .card .social i.lni-codepen:hover {
  background-color: #111;
}
.team .card .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .card .titles {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: -4px;
}
/* Some fun fact */
.fun-fact {
  background: url("../media/FUN-BG.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.fun-fact .box {
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 2rem 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}
.fun-fact .box:hover {
  transform: scale(1);
}
.fun-fact .box i {
  font-size: 4rem;
}
.fun-fact .box h3 {
  font-size: 70px;
  margin: 10px 0;
}
.fun-fact .box p {
  font-size: 20px;
}
/* Happy Clients */
.clients {
  background: #eceef5;
}
.clients .box {
  position: relative;
  border: 10px solid rgba(0, 0, 0, 0.12);
}
.clients .box .imgBx {
  width: 140px;
  height: 46px;
  margin: 12px auto;
}
.clients .box .imgBx img {
  height: 100%;
}
.clients .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--default-color);
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-align: center;
  padding-top: 18px;
  transform: scale(0);
}
.clients .box:hover .content {
  transform: scale(1);
}
/* Blog */
.blog .imgBx {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}
.blog .imgBx .overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--default-color);
  color: var(--light-color);
  font-size: 3rem;
  transform: scale(0.3);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.blog .imgBx:hover .overlay {
  transform: scale(1);
  opacity: 1;
}
.blog .card .content {
  background: #f2f3f8;
}
.blog .card .content .icons {
  margin-right: 10px;
}
.blog .card .content .icons i {
  background-color: var(--default-color);
  color: var(--light-color);
  margin-bottom: 5px;
  padding: 10px;
}
.blog .card .content .texts h3 {
  margin-top: 5px;
  font-size: 20px;
  color: #605e5e;
}
.blog .card .content .texts p {
  color: #656565;
  margin-top: 18px;
}
/* Contact */
#contact {
  background: url("../media/map-bg.png") #2f3133 no-repeat;
  background-size: auto;
  background-position: center center;
}
.contact .addresses h3 {
  font-size: 72px;
  font-weight: 300;
}
.contact .addresses h5 {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
}
.contact .addresses .contact-info .social {
  margin-top: 10px;
}
.contact .addresses .contact-info .social i {
  border: 2px solid var(--light-color);
  padding: 10px;
  margin: 0 -2px;
  cursor: pointer;
}
.contact .addresses .contact-info .social i:hover {
  background-color: var(--default-color);
}
.contact .form input,
textarea {
  background: transparent;
  border: 1px solid var(--light-color);
  color: var(--light-color);
}
::placeholder {
  color: var(--light-color);
}
.contact .form .f-line,
.contact .form .s-line {
  gap: 20px;
  margin-top: 10px;
}
.contact .form .f-line input,
.contact .form .s-line input,
.contact .form .t-line textarea {
  flex: 1;
  padding: 1rem;
  resize: none;
  transition: all 0.5s ease-in-out;
}
.contact .form .t-line {
  margin-top: 10px;
}
.contact .form input:focus,
.contact .form input:hover,
.contact .form textarea:focus,
.contact .form textarea:hover {
  border: 1px solid var(--default-color);
}
.contact .form .m-button {
  padding: 15px 60px;
  font-size: 1.2rem;
  margin-top: 10px;
}
/* Footer */
.footer {
  background: #222426;
  color: var(--light-color) !important;
}
.footer .title {
  position: relative;
  margin-bottom: 1.2rem;
}
.footer .title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 40%;
  background-color: var(--default-color);
  display: block;
}
.footer li {
  line-height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.footer li:hover {
  color: var(--default-color);
}
.footer li i {
  color: var(--default-color);
}
.footer .fourth span {
  padding: 5px 10px;
  margin: 2px 2px 5px 0;
  display: inline-block;
  border-bottom: 1px solid var(--default-color);
  cursor: pointer;
}
.footer .fourth span:hover {
  border-bottom: 1px solid var(--light-color);
}
