@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
a {
  text-decoration: none;
  color: var(--dark-color);
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
p {
  font-size: 14px;
  line-height: 24px;
}
section {
  padding: 6rem 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.fw {
  font-weight: 900;
}
w-50 {
  width: 50%;
  margin: 0 auto;
}
.d-color {
  color: var(--default-color);
}
.d-bg {
  background-color: var(--default-color);
}
.l-color {
  color: var(--light-color);
}
.section-head {
  text-align: center;
  margin-bottom: 70px;
}
.section-head h2 {
  font-weight: 900;
  font-size: 60px;
  display: inline-block;
  border-top: 1px solid var(--default-color);
  border-bottom: 1px solid var(--default-color);
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}
.section-head span {
  color: var(--default-color);
  position: relative;
}
.section-head span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--default-color);
}
.section-head span::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--default-color);
}
.m-button {
  cursor: pointer;
  position: relative;
  border: 1px solid var(--default-color);
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 1;
}
.m-button:hover {
  color: var(--light-color);
}
.m-button:hover::before {
  width: 100%;
}
.m-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 101%;
  background: var(--default-color);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
/* Margins */
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 1.5rem;
}
.mx-3 {
  margin: 0 2rem;
}
.mx-4 {
  margin: 0 3rem;
}
.mx-5 {
  margin: 0 4rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 1.5rem;
}
.mt-3 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 3rem;
}
.mt-5 {
  margin-top: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 1.5rem;
}
.mb-3 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 4rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 1.5rem;
}
.ml-3 {
  margin-left: 2rem;
}
.ml-4 {
  margin-left: 3rem;
}
.ml-5 {
  margin-left: 4rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 1.5rem;
}
.mr-3 {
  margin-right: 2rem;
}
.mr-4 {
  margin-right: 3rem;
}
.mr-5 {
  margin-right: 4rem;
}
.m-auto {
  margin: 0 auto;
}
/* Paddings */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 1.5rem;
}
.px-3 {
  padding: 0 2rem;
}
.px-4 {
  padding: 0 3rem;
}
.px-5 {
  padding: 0 4rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 1.5rem;
}
.pt-3 {
  padding-top: 2rem;
}
.pt-4 {
  padding-top: 3rem;
}
.pt-5 {
  padding-top: 4rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 1.5rem;
}
.pb-3 {
  padding-bottom: 2rem;
}
.pb-4 {
  padding-bottom: 3rem;
}
.pb-5 {
  padding-bottom: 4rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 1.5rem;
}
.pl-3 {
  padding-left: 2rem;
}
.pl-4 {
  padding-left: 3rem;
}
.pl-5 {
  padding-left: 4rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 1.5rem;
}
.pr-3 {
  padding-right: 2rem;
}
.pr-4 {
  padding-right: 3rem;
}
.pr-5 {
  padding-right: 4rem;
}
